html {
  background-color: grey;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  text-align: center;
}
h3 {
  text-align: center;
}
body {
  color: white;
}


.albumInfo {
  display: flex;
}

.otherMedia {
  display: flex;
  align-items: center;
  
}

ol {
  background: black;
  padding: 12px;
  border: 2px solid white;
  text-align: left;
  border-radius: 5px;
  width: 450px;
}

li {
  margin-left: 20px;
  margin-right: 120px;
}
